@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  font-family: "Roboto", sans-serif;
  color: white;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 10px;
}

.nav-title {
  margin: 0;
}

.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-links li {
  margin: 0 10px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
}
ul.nav-links {
  align-items: center;
  justify-content: center;
}

button.btn {
  background-color: #17a2b8;
  color: white;
  text-align: center;
  cursor: pointer;
  flex: 0 0 auto;
  justify-content: center;
  align-self: center;
  border: none;
  padding: 5px 10px;
  line-height: 2.125rem;
  box-shadow: 9px 8px 2px 1px #121212;
  font-size: 17px;
  font-weight: 400;
}
